# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# Allow Makefile
!Makefile

# Allow tester
!tester.mk

# Allow gitignore
!.gitignore

# Allow libft submodule
!libft

# Allow .vscode settings
!.vscode/*
