# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# Allow Makefile
!Makefile

# Disallow tester
# tester.c

# Allow tester
!tester.mk

# Allow gitignore
!.gitignore

# Disallow experiment
# experiment.c

# Disallow example
# jump_table_example.c
